body {
  background-color: #f5e9b3;
}

.vh100 {
  height: 100vh;
}

h1 {
  font-family: Gaegu, cursive;
}

ol {
  font-family: Gaegu, cursive;
}

strong {
  font-family: Gaegu, cursive;
}

.green {
  color: #25922b;
  font-family: "Chelsea Market", cursive;
}

p {
  font-family: "Chelsea Market", cursive;
}

.bottom-type {
  color: #f5e9b3;
  visibility: hidden;
}

.border {
  border: 4px solid #f5e9b3;
}

.second {
  visibility: hidden;
}

.third {
  visibility: hidden;
}

@media only screen and (min-width: 38rem) {

  .second {
    visibility: visible;
  }

}

@media only screen and (min-width: 60rem) {

  .third {
    visibility: visible;
  }

}

@media only screen and (min-width: 90rem) {

  body {
    background-color: green;
    color: #25922b;
  }

  .bottom-type {
    visibility: visible;
  }

}
